.wrapper {
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    transition: background-image 1s ease-in-out;
}

.form {
    border-right: 1px solid var(--mantine-color-gray-3), var(--mantine-color-dark-7);
    min-height: 900px;
    max-width: 30%;
    padding-top: 80px;

    @media (max-width: 768px) {
        max-width: 100%;
    }
}
